@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-plus-jakarta-sans);
}

@theme {
  /* Primary Color */
  --color-primary-50: #dde0ff;
  --color-primary-300: #7b74ff;
  --color-primary-600: #5e37f6;
  --color-primary-900: #4124af;
  --color-primary: var(--color-primary-600);

  /* Neutral */
  --color-neutral-1: #0e0e11;
  --color-neutral-2: #3e3e4e;
  --color-neutral-3: #595a70;
  --color-neutral-4: #8c8ea4;
  --color-neutral-5: #d7d8e0;
  --color-neutral-6: #f7f7f8;

  /* Success */
  --color-success-50: #daf9ec;
  --color-success-100: #74efb9;
  --color-success-300: #06a561;
  --color-success: var(--color-success-300);

  /* Warning */
  --color-warning-50: #fff9e1;
  --color-warning-100: #ffe582;
  --color-warning-300: #f99600;
  --color-warning: var(--color-warning-300);

  /* Danger */
  --color-danger-50: #fde7ea;
  --color-danger-100: #f8919d;
  --color-danger-300: #f0142f;
  --color-danger: var(--color-danger-300);

  /* Shades */
  --color-shades-white: #ffffff;
  --color-shades-black: #121212;
}

body {
  @apply bg-[var(--color-neutral-50)];
}

.app-container {
  @apply bg-shades-white mx-auto w-xl max-w-xl;
}
