@import 'tailwindcss';

@import './typography.css';

@theme inline {
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', system-ui, sans-serif;
  --font-sans: var(--font-plus-jakarta-sans);
}

@theme {
  /* Primary Color */
  --color-primary-50: #dde0ff;
  --color-primary-300: #7b74ff;
  --color-primary-600: #5e37f6;
  --color-primary-900: #4124af;
  --color-primary: var(--color-primary-600);

  /* Neutral */
  --color-neutral-1: #0e0e11;
  --color-neutral-2: #3e3e4e;
  --color-neutral-3: #595a70;
  --color-neutral-4: #8c8ea4;
  --color-neutral-5: #d7d8e0;
  --color-neutral-6: #f7f7f8;

  /* Success */
  --color-success-50: #daf9ec;
  --color-success-100: #74efb9;
  --color-success-300: #06a561;
  --color-success: var(--color-success-300);

  /* Warning */
  --color-warning-50: #fff9e1;
  --color-warning-100: #ffe582;
  --color-warning-300: #f99600;
  --color-warning: var(--color-warning-300);

  /* Danger */
  --color-danger-50: #fde7ea;
  --color-danger-100: #f8919d;
  --color-danger-300: #f0142f;
  --color-danger: var(--color-danger-300);

  /* Shades */
  --color-shades-white: #ffffff;
  --color-shades-black: #121212;

  /* Shadow */
  --shadow-primary-1:
    0 4px 6px -4px rgb(94, 55, 246, 0.12), 0 8px 8px -4px rgb(94, 55, 246, 0.08);
  --shadow-primary-2:
    0 6px 12px -6px rgb(94, 55, 246, 0.12),
    0 8px 24px -4px rgb(94, 55, 246, 0.08);
  --shadow-primary-3:
    0 8px 18px -6px rgb(94, 55, 246, 0.12),
    0 12px 42px -4px rgb(94, 55, 246, 0.12);
  --shadow-primary-4:
    0 8px 28px -6px rgb(94, 55, 246, 0.12),
    0 18px 88px -4px rgb(94, 55, 246, 0.14);

  /* Breakpoint */
  --breakpoint-xs: 36rem;
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  @apply bg-neutral-5/35 font-sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.app-container {
  @apply bg-shades-white mx-auto min-h-screen w-full max-w-xl;
}
